<%- include ("../_header") %>

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="page-title">สิทธิการรักษา</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">สิทธิการรักษา</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="d-flex border-bottom title-part-padding align-items-center">
                    <div>
                        <h4 class="card-title mb-0">สิทธิการรักษา</h4>
                    </div>
                    <div class="ms-auto flex-shrink-0">
                        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-Rights-modal"  
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus fill-white feather-sm">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> เพิ่มสิทธิการรักษา
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="zero_config" class="table table-striped table-bordered dataTable">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>ชื่อ</th>
                                                <th>แสดง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (rights) { %>
                                                <% for (var i = 0; i < rights.length; i++) { %>
                                                    <tr>
                                                        <td><%= i + 1 %></td>
                                                        <td><%= rights[i].name %></td>
                                                        <td>
                                                            <div class="btn-Rights">
                                                                <!-- Corrected the id attribute to use rights[i].id -->
                                                                <a id="edit-<%= rights[i].id %>" href="#" onclick="editgRights('<%= rights[i].id %>')" class="btn btn-warning">
                                                                    <i class="fas fa-pencil-alt fa-x"></i> แก้ไขข้อมูล
                                                                </a>
                                                                <a id="<%= rights[i].id %>" href="#" onclick="deleteRights('<%= rights[i].id %>')" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-Rights-modal">
                                                                    <i class="fas fa-trash-alt fa-x"></i> ลบข้อมูล
                                                                </a>
                                                                
                                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                                
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<form action="/Rights/save" method="POST">
    <div id="add-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">เพิ่มกลุ่มของประชาชน</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <label for="fname" class="col-sm-3 text-start control-label col-form-label">ชื่อกลุ่ม</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="กรอกชื่อกลุ่ม" class="form-control" required>
                    </div>
                    <br><br>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success font-weight-medium waves-effect">บันทึกข้อมูล</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form>



<form action="/Rights/save" method="POST">
    <div id="add-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">เพิ่มกลุ่มของประชาชน</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <label for="fname" class="col-sm-3 text-start control-label col-form-label">ชื่อกลุ่ม</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="กรอกชื่อกลุ่ม" class="form-control" required>
                    </div>
                    <br><br>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success font-weight-medium waves-effect">บันทึกข้อมูล</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--<form action="/Rights/update" method="POST">
    <div id="edit-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">แก้ไขชื่อสิทธิการรักษา</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <label for="name" class="col-sm-3 text-start control-label col-form-label">ชื่อสิทธิการรักษา</label>
                    <div class="col-sm-9">-->
                        <!-- Hidden field to store the ID -->
                        <!-- <input type="hidden" name="id" id="id" readonly> -->
                        <!-- Input field for editing the name -->
                        <!-- <input id="name" type="text" name="name" placeholder="กรอกชื่อสิทธิการรักษา" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-warning font-weight-medium waves-effect">แก้ไขข้อมูล</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form> -->


<form action="/Rights/update" method="POST">
    <div id="edit-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">แก้ไขชื่อสิทธิการรักษา</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <label for="edit-name-Rights" class="col-sm-3 text-start control-label col-form-label">ชื่อสิทธิการรักษา</label>
                    <div class="col-sm-9">
                        <!-- Hidden field to store the ID -->
                        <input type="hidden" name="id" id="id" readonly>
                        <!-- Input field for editing the name -->
                        <input id="edit-name-Rights" type="text" name="name" placeholder="ชื่อสิทธิการรักษา" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-warning font-weight-medium waves-effect">แก้ไขข้อมูล</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form>







<!-- Delete Rights Modal -->
<!-- Delete Rights Modal -->
<!-- <form action="/Rights/delete" method="POST">
    <div id="delete-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">ลบสิทธิการรักษา</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <p id="delete-name"></p>
                    <input type="hidden" name="id" id="delete-id" readonly>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-danger font-weight-medium waves-effect">ยืนยัน</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect" data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div>
</form> -->


<form action="/Rights/delete" method="POST">
    <div id="delete-Rights-modal" class="modal fade" tabindex="-1" aria-labelledby="bs-example-modal-md"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center border-bottom">
                    <h4 class="modal-title" id="myModalLabel">ลบสิทธิการรักษา</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb row">
                    <p id="delete-name"></p>
                    <input type="hidden" name="id" id="delete-id" readonly>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-danger font-weight-medium waves-effect">ยืนยัน</button>
                    <button type="button" class="btn btn-secondary font-weight-medium waves-effect"
                        data-bs-dismiss="modal">ปิด</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- <script>
    $(document).ready(function () {
        $('#zero_config').DataTable();
    });
</script> -->

<script>
   $(document).ready(function () {
    $('#zero_config').DataTable();
});

function editgRights(id) {
    console.log('Editing ID:', id); // Log to check ID

    if (!id) {
        console.error('Error: ID is empty or undefined.');
        return;
    }

    console.log('Preparing to send AJAX request with ID:', id);

    $.ajax({
        url: '/Rights/edit',
        type: 'POST',
        data: { id: id }, // Send ID to the server
        success: (data) => {
            console.log('Received data:', data); // Log for debugging
            if (data && data.rights) {
                $('#edit-name-Rights').val(data.rights.name); // Set name in input field
                $('#id').val(data.rights.id); // Set ID from received data
                $('#edit-Rights-modal').modal('show'); // Show modal
            } else {
                console.error('Error: Received data is not in expected format or rights not found.');
            }
        },
        error: (xhr, status, error) => {
            console.error('Error fetching data:', error); // Handle errors
        }
    });
}

// function deleteRights(id) {
//     console.log('Delete ID:', id);

//     $.ajax({
//         url: '/Rights/checkdelete',
//         type: 'POST',
//         data: { id: id },
//         success: (data) => {
//             if (data && data.rights) {
//                 console.log('Data fetched for deletion:', data);
//                 $('#delete-name').text('ต้องการลบสิทธิการรักษา: ' + data.rights.name + ' ?');
//                 $('#delete-id').val(id);
//                 $('#delete-Rights-modal').modal('show');
//             } else {
//                 console.error('Invalid data received:', data);
//             }
//         },
//         error: (xhr, status, error) => {
//             console.error('Error fetching data:', error);
//         }
//     });
// }


function deleteRights(id) {
            console.log(id);
            $.ajax({
                url: '/Rights/checkdelete',
                type: 'POST',
                data: { id },
                success: (data) => {
                    console.log(data);
                    $('#delete-name').html('ต้องการลบสิทธิการรักษา ' + data.rights.name+ ' ?')
                    $('#delete-id').val(id)
                }
            });
        }



</script>
<%- include ("../_footer") %>
